<template>
  <v-container>
    <v-data-table :headers="headers" :items="jsondata" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td><pre>{{ props.item.commit.message.trunc(200) }}</pre></td>
        <td>{{ props.item.commit.committer.name }}</td>
        <td>{{ formatDate(props.item.commit.committer.date) }}</td>
        <!-- Default : <td class="text-xs-right">{{  }}</td> -->
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
String.prototype.trunc =
  String.prototype.trunc ||
  function(n) {
    return this.length > n ? this.substr(0, n - 1) + "..." : this;
  };

export default {
  name: "Commits",
  props: {
    jsonData: Array
  },
  data() {
    return {
      headers: [
        {
          text: "Message",
          align: "left",
          sortable: false,
          value: "message"
        },
        { text: "Author", value: "author" },
        { text: "Date", value: "date" }
      ]
    };
  },
  methods: {
    formatDate(stringInput) {
      let date = new Date(Date.parse(stringInput));

      let dayTMP = date.getDate().toString();

      let dayNumberTMP = date.getDate();

      let day = dayNumberTMP < 10 ? "0" + dayTMP : dayTMP;

      let month = date.getMonth().toString();

      let year = date.getFullYear().toString();

      return `${day}/${month}/${year}`;
    }
  }
};
</script>
