<template>
  <v-list>
    <!-- Description tile -->
    <v-list-tile avatar>
      <v-list-tile-action>
        <v-icon>message</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Description : {{ jsonData.description }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <!-- Author tile -->
    <v-list-tile avatar>
      <v-list-tile-action>
        <v-icon>person</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Author : {{ jsonData.owner.login }}</v-list-tile-title>
      </v-list-tile-content>

      <v-list-tile-action>
        <v-btn :href="jsonData.owner.html_url" target="_blank" icon>
          <v-icon>launch</v-icon>
        </v-btn>
      </v-list-tile-action>
    </v-list-tile>

    <!-- Forks number tile -->
    <v-list-tile avatar>
      <v-list-tile-action>
        <v-icon>call_split</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Forks : {{ jsonData.forks_count }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <!-- Star number tile -->
    <v-list-tile avatar>
      <v-list-tile-action>
        <v-icon>star</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Starred : {{ jsonData.stargazers_count }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <!-- Watch number tile -->
    <v-list-tile avatar>
      <v-list-tile-action>
        <v-icon>visibility</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Watcher : {{ jsonData.subscribers_count }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</template>

<script>
export default {
  name: "Repository",
  props: {
    jsonData: Object
  }
};
</script>
