<template>
  <v-container>
    <v-layout wrap row>
      <v-flex xs12>
        <v-text-field v-model="textInput" single-line solo label="GitHub repository"></v-text-field>
        <v-select
          :items="availableDisplays"
          label="Repository information"
          v-model="currentDisplay"
          solo
        ></v-select>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'RepoPicker',
  data() {
    return {
      textInput: 'nodejs/node',
      availableDisplays: [
        'Repository',
        'Commits'
      ],
      currentDisplay: 'Repository'
    }
  },
  watch: {
    textInput(newValue) {
      if (newValue.match(/\w+\/\w+/)) {
        this.$emit('search', {
          text: newValue,
          category: this.currentDisplay
        });
      }
    },
    currentDisplay(newValue) {
      this.$emit('search', {
        text: this.textInput,
        category: newValue
      });
    }
  }
};
</script>
