<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title>GitHub Fetch</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat>Home</v-btn>
        <v-btn flat target="_blank" href="https://github.com/explore">Visit GitHub</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <RepoPicker @search="fetch"/>
      <Repository v-if="appCurrentDisplay === 'Repository'" :jsonData="fetchedJSON"/>
      <Commits v-if="appCurrentDisplay === 'Commits'" :jsondata="fetchedJSON"/>
    </v-content>
  </v-app>
</template>

<script>
import RepoPicker from "./components/RepoPicker.vue";
// Importation of main pages
import Repository from "./mainpages/Repository.vue";
import Commits from "./mainpages/Commits.vue";

import axios from "axios";

export default {
  name: "App",
  components: {
    RepoPicker,
    Repository,
    Commits
  },
  data() {
    return {
      fetchedJSON: null,
      appCurrentDisplay: "Repository"
    };
  },
  methods: {
    fetch(data) {
      this.appCurrentDisplay = data.category;
        switch (this.appCurrentDisplay) {
          case "Repository":
            axios
                    .get(`https://api.github.com/repos/${data.text}`)
                    .then(response => {
                      this.fetchedJSON = response.data;
                    });
            break;
          case "Commits":
            axios
                    .get(`https://api.github.com/repos/${data.text}/commits`)
                    .then(response => {
                      this.fetchedJSON = response.data;
                    });
            break;
        }
    }
  },
  mounted() {
    this.fetch({text: "nodejs/node", category: "Repository"});
  }
};
</script>
